/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  h3{
      text-align: center;
  }
  .bg-success {
      background-color: #007bff!important;  
  }
  dp-date-picker.dp-material .dp-picker-input {
    display: block;
    width: 170% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}