<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> ToDO and Countdown </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/todo">ToDo Application</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/countdown">Countdown Timer</a>
    </li>
    </ul>
</nav>

<!-- Displays the view based on the route path -->
<router-outlet></router-outlet>


